@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Welcome Admin</h1>
</div>
<ul class="list-group">
    <li class="list-group-item">
        <a asp-area="Admin" asp-controller="ArticleCategories" asp-action="Index" title="Article categories">Article categories</a>
    </li>
    <li class="list-group-item">
        <a asp-area="Admin" asp-controller="Articles" asp-action="Index" title="Articles">Articles</a>
    </li>
    <li class="list-group-item">
        <a asp-area="Admin" asp-controller="Transactions" asp-action="Index" title="Transactions">Transactions</a>
    </li>
</ul>
