@{
    ViewData["Title"] = "Главная страница";
}
<ul class="list-group">
    <li class="list-group-item">
        <a asp-area="Admin" asp-controller="ArticleCategories" asp-action="Index" title="Управление категориями статей">Управление категориями статей</a>
    </li>
    <li class="list-group-item">
        <a asp-area="Admin" asp-controller="Articles" asp-action="Index" title="Управление статьями">Управление статьями</a>
    </li>
    <li class="list-group-item">
        <a asp-area="Admin" asp-controller="Transactions" asp-action="Index" title="Управление транзакциями">Управление транзакциями</a>
    </li>
    <li class="list-group-item">
        <a asp-area="Admin" asp-controller="Tickets" asp-action="Index" title="Управление заявками">Управление заявками</a>
    </li>
    <li class="list-group-item">
        <a asp-area="Admin" asp-controller="UserRoles" asp-action="Index" title="Управление ролями пользователей">Управление ролями пользователей</a>
    </li>
</ul>
