@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>
<ul class="list-group">
    <li class="list-group-item">
        <a href="/ArticleCategories/Index" title="Article categories">Article categories</a>
    </li>
</ul>
