@model IEnumerable<App.Models.Article>

@{
    ViewData["Title"] = "Главная страница";
}
<p class="h3">Последние новости</p>
@foreach (var item in Model)
{
<div class="card">
    <div class="card-body">
        <h5 class="card-title">@item.Name</h5>
        <p class="card-text">@item.Text</p>
        <p class="card-text">Категория: @item.Category.Name</p>
    </div>
</div>
}
