@model IEnumerable<App.Models.Article>

@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>

<p class="h3">Last news</p>
@foreach (var item in Model)
{
<div class="card">
    <div class="card-body">
        <h5 class="card-title">@item.Name</h5>
        <p class="card-text">@item.Text</p>
    </div>
</div>
}
