@{
    ViewData["Title"] = "Мой личный кабинет";
}
<h4> Здравствуй, пользователь</h4>
<ul class="list-group">
    <li class="list-group-item">
        <a asp-area="Customer" asp-controller="Articles" asp-action="Index" title="Новости и информация">Новости и информация</a>
    </li>
    <li class="list-group-item">
        <a asp-area="Customer" asp-controller="Tickets" asp-action="Index" title="Мои заявки">Мои заявки</a>
    </li>
    <li class="list-group-item">
        <a asp-area="Customer" asp-controller="Transactions" asp-action="Index" title="Мои финансы">Мои финансы</a>
    </li>
</ul>
