@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Welcome Customer</h1>
</div>
<ul class="list-group">
    <li class="list-group-item">
        <a asp-area="Customer" asp-controller="Articles" asp-action="Index" title="Articles">Articles</a>
    </li>
    <li class="list-group-item">
        <a asp-area="Customer" asp-controller="Tickets" asp-action="Index" title="Tickets">Tickets</a>
    </li>
    <li class="list-group-item">
        <a asp-area="Customer" asp-controller="Transactions" asp-action="Index" title="Transactions">Transactions</a>
    </li>
</ul>