@model IEnumerable<App.Models.User>

@{
    ViewData["Title"] = "Управление ролями";
}

<h1>Index</h1>
<table class="table">
    <thead>
        <tr>
            <th>Электронная почта</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var user in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => user.Email)
            </td>
            <td>
                <a asp-action="Edit" asp-route-userid="@user.Id">Редактировать</a>
            </td>
        </tr>
}
    </tbody>
</table>
